{% extends "base/base.html" %}
{% load static %}

{% block body %}

<form class='text-center border border-success rounded-3 p-2 bg-body-tertiary mt-3' method='POST' action='{% url "create-task" %}'> 
            
            {% csrf_token %}
            <table class='table'>
                
                {{form.as_table}}

            </table>
            <button class='btn btn-success rounded-pill ' type='submit'>Criar</button>
            <button class='btn btn-outline-success rounded-pill'>Cancelar</button>
</form>

{% endblock body %}