{% extends "base/base.html" %}
{% load static %}

{% block body %}



<div class="container">
  <div class='row'>
    <a href='{% url "home" %}' class='btn btn-outline-success rounded-pill mt-3'>Voltar</a>
    <a href='#' class='btn btn-outline-success rounded-pill mt-3'>Concluídas</a>
  </div>

  <div class="accordion mt-3 bg-success p-2" id="accordionExample">
    {% for task in tasks %}
    
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button bg-success-subtle" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{task.id}}" aria-expanded="true" aria-controls="collapseOne">
            <h6><i class="bi bi-bank2"></i> {{task.title}} <i class="bi bi-arrow-right-square-fill"></i> <span>{{task.expected_date}}</span></h6>  
          </button>
        </h2>
        <div id="collapse{{ task.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="card">
              <div class="card-header">
                <i class="bi bi-calendar-check-fill"></i> {{task.expected_date}}
              </div>
              <div class="card-body">
                {% if task.voluntary.first_name %}
                  <h5 class="card-title"><i class="bi bi-person-circle"></i>  {{task.voluntary.first_name}}</h5>
                {% else %}
                  <h5 class="card-title">{{task.voluntary}}</h5>
                {% endif %}

                {% if task.details %}
                  <p class="card-text">{{task.details}}</p>
                {% else %}
                  <p class="card-text">Sem detalhes dessa tarefa</p>
                {% endif %}
                <a href="#" class="btn bg-success"> <i class="bi bi-person-add"></i> Participar</a>
                <a href="#" class="btn bg-success"> <i class="bi bi-check-all"></i> Concluir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    
    {% endfor %}
  </div>
  
</div>







  {% comment %} <div class="row">
    <div class="col">
      <h2>Missões</h2>
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Data agendada</th>
      <th scope="col">Título</th>
      <th scope="col">Responsável</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}

  <tr>
    <th scope="row">{{task.expected_date}} | {{task.prevision_hours}}</th>
    <td>{{task.title}}</td>
    {% if task.voluntary.first_name %}
        <td>{{task.voluntary.first_name}}</td>
    {% else %}
        <td>{{task.voluntary}}</td>
    {% endif %}
    {% if task.status_completed %}
      <td><i class="bi bi-check-circle-fill"></i></td>
    {% else %}
      <td><i class="bi bi-chevron-double-right"></i></td>
    {% endif %}
    
  </tr>


{% endfor %}  

  </tbody>
  </div> {% endcomment %}

{% endblock body %}